span#dragdropfile a#dragdropfile-link {
  cursor: pointer;
  padding-right: 45px;
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url('../images//files.png');
  background-repeat: no-repeat;
  background-size: contain
}
span#dragdropfile a#dragdropfile-link:hover {
  background-image: url('../images//files-hover.png')
} 